body	{
	font-size: 15px;
	font-family: Montserrat;
	width: 100%;
}

.header {	
	height: 51px;
	margin: 25px 0px 0px 42.7px;
	min-width: 300px;
	font: monserrat normal 15px;
	font-weight: 600;
	display: flex;
	align-items: center;

}

.menu__bar {
	width: 852px;
	margin-left: 258px;
	position: relative;
	display: flex;
	vertical-align: middle;
	align-items: center;
}

.menu__item {
	color: black;
	text-decoration: none;
}

.menu__item:hover {
	color:red;
	border-bottom: 1px solid red;
}
.menu__item:nth-child(2) {
	margin-left: 63.14px;
	
}

.menu__item:nth-child(3) {
	margin-left: 24.86px;
}

.menu__item:nth-child(4) {
	margin-left: 44px;
}

.menu__item:nth-child(5) {
	margin-left: 46px;
}

.menu__item:nth-child(6) {
	margin-left: 221px;
}

.menu__item:last-child {
	margin-left: 30px;
}

.header__logo {
	display: block;
}

.header__img {
	right: 30px;
	display: block;
	margin-left: 30px;
}

.page-header {
	width: 1514px;
	height: 200px;
	margin-top: 74px;
	height: 467px;
	background-image: url(./img/Tesla-Wordmark-Redd.png);
}

.page-header__title {
	margin: 0 auto;
	width: 370px;
	font-size: 90px;
	height: 110px;
	line-height: 110px;
}

.page-header__subtitle {
	width:241px;
	font-size: 15px;
	margin: 0 auto;
	margin-top: -10px;
	text-align: center;
	vertical-align: center;
}

.page-main {	;
	width: 968px;
	display: flex;
	justify-content: center;
}

.page-header__img {
	display: block;
	width: 968px;
	margin: 0 auto;
	margin-top: 27px;
}

.page-menu {
	width: 792px;
	min-width: 792px;
	max-width: 792px;
	margin: 152px auto;
	display: flex;
	height: 58px;
}

.page-menu__block {
	width: 375px;
	position: relative;
}

.page-menu__logo {
	position: absolute;
	top:10px; 
}

.page-menu__logo_ellipse {
	position: absolute;
	left: 12px;
	bottom: 13px;
}

.page-menu__logo_pointer {
	position: absolute;
	left:20px;
	bottom: 18px;
}

.page-menu__text_big-left {
	font-size:35px;
	font-weight: 600;
	position: absolute;
	top: 5px;
	left: 60px;
}

.page-menu__text_middle-left {
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	left: 110px;
	top:15px;
}

.page-menu__text_small-left {
	position: absolute;
	bottom: 0px;
	left: 60px;
	font-size: 12px;
}

.page-menu__logo-stroke {
	position: absolute;
	right: 110px;
	bottom: 0px;
}

.page-menu__logo-stroke-white {
	position: absolute;
	right: 110px;
	bottom: 0px;
}

.page-menu__text_big-right {
	font-size:35px;
	font-weight: 600;
	position: absolute;
	top: 5px;
	right: 40px;
}

.page-menu__text_middle-right {
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	right: 5px;
	top:15px;
}

.page-menu__text_small-right {
	position: absolute;
	bottom: 0px;
	right: 35px;
	font-size:12px;
}

.page-menu__block-right {
	width: 318px;
	position: relative;
	display: flex;
	align-items: center;
	margin-left: 105px;
}

.page-menu__logo-block-right {
	display: inline-block;
}

.page-menu__btn {
	border: 2px solid #E51937;
	text-align: center;
	line-height: 40px;
	margin-left: 47px;
	height: 40px;
	width: 160px;
	font-size: 13px;
	color: #E51937;
	font-weight: bold;

}

.page-menu__vector-block-right {
	position: absolute;
	left: 3px;
	top:26px;
}

.page-menu__point-block-right {
	position: absolute;
	left: 9px;
	top: 24px;
}

.page-menu__block-right-text {
	font-size: 13px;
	font-weight: bold;
	margin-left: 7px;
}










