body	{
	font-size: 15px;
	font-family: Montserrat;
}

@media (min-width: 1281px)	{

body	{
	font-size: 15px;
	font-family: Montserrat;
	width: 100%;
	min-width: 50px;
	max-width: 1440px;
}

.header {	
	height: 51px;
	margin: 25 0 0 43;
	font: monserrat normal 15px;
	font-weight: 600;
	display: flex;
	align-items: center;
	margin-bottom:74px;
}

.menu__bar {
	min-width: 50px;
	max-height: 852px;
	position: relative;
	display: flex;
	vertical-align: middle;
	align-items: center;
	margin-right: 30px;
}

.menu__item {
	color: black;
	text-decoration: none;
}

.menu__item:hover {
	color:red;
	border-bottom: 1px solid red;
	transition: 0.5s ease-in-out;
}

.menu__item:first-child {
	margin-right: 63px;
}
.menu__item:nth-child(2) {
	
	margin-right: 24px;
	
}

.menu__item:nth-child(3) {
	margin-right: 44px;
}

.menu__item:nth-child(4) {
	margin-right: 46px;
}

.menu__item:nth-child(5) {
	margin-right: 221px;
}

.menu__item:nth-child(6) {
	margin-right: 30px;
}


.header__logo {
	display: block;
	margin-right: 258px;
}

.page-header {
	max-width: 1514px;
	min-width: 50px;
	height: 200px;
	height: 467px;
	background-image: url(./img/Tesla-Wordmark-Redd.png);
	background-position: center;
}

.page-header__title {
	margin: 0 auto;
	max-width: 370px;
	min-width: 50px;
	font-size: 90px;
	height: 110px;
	line-height: 110px;
	margin-bottom: -10px;
}

.page-header__subtitle {
	max-width: 241px;
	min-width: 50px;
	font-size: 15px;
	margin: 0 auto;
	text-align: center;
	vertical-align: center;
	margin-bottom: 27px;
}

.page-main {	
	max-width: 968px;
	min-width: 50px;
	display: flex;
	justify-content: center;
}

.page-header__img {
	display: block;
	width: 968px;
	margin: 0 auto;
}

.page-menu {
	min-width: 30px;
	max-width: 792px;
	margin: 152px auto;
	display: flex;
	height: 58px;
}

.page-menu__block {
	width: 375px;
	position: relative;
	margin-right: 105px;
}

.page-menu__logo {
	position: absolute;
	top: 10px; 
	left: 1px;

}

.page-menu__logo_ellipse {
	position: absolute;
	left: 12px;
	bottom: 13px;
}

.page-menu__logo_pointer {
	position: absolute;
	left:20px;
	bottom: 18px;
}

.page-menu__text_big-left {
	font-size:35px;
	font-weight: 600;
	position: absolute;
	top: 5px;
	left: 60px;
}

.page-menu__text_middle-left {
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	left: 110px;
	top: 15px;
}

.page-menu__text_small-left {
	position: absolute;
	bottom: 0px;
	left: 60px;
	font-size: 12px;
}

.page-menu__logo-stroke {
	position: absolute;
	right: 110px;
	bottom: 0px;
}

.page-menu__logo-stroke-white {
	position: absolute;
	right: 110px;
	bottom: 0px;
}

.page-menu__text_big-right {
	font-size:35px;
	font-weight: 600;
	position: absolute;
	top: 5px;
	right: 40px;
}

.page-menu__text_middle-right {
	font-size: 20px;
	font-weight: 600;
	position: absolute;
	right: 5px;
	top: 15px;
}

.page-menu__text_small-right {
	position: absolute;
	bottom: 0px;
	right: 35px;
	font-size: 12px;
}

.page-menu__block-right {
	width: 318px;
	position: relative;
	display: flex;
	align-items: center;
	
}

.page-menu__logo-block-right {
	display: inline-block;
}

.page-menu__btn {
	border: 2px solid black;
	text-align: center;
	height: 40px;
	width: 160px;
	font-size: 13px;
	color: black;
	font-weight: bold;
	background-color: white;
	color: black;
	border-color: black;
}

.page-menu__btn:hover {
	color: #E51937;
	border-color: #E51937;
	transition: 0.5s ease-in-out;
}

.page-menu__btn:active {
	color: yellow;
	border-color: yellow;
}

.page-menu__btn:visited {
	color: blue
	border-color: blue;
}

.page-menu__vector-block-right {
	position: absolute;
	left: 3px;
	top: 26px;
}

.page-menu__point-block-right {
	position: absolute;
	left: 9px;
	top: 24px;
}

.page-menu__block-right-text {
	font-size: 13px;
	font-weight: bold;
	margin-left: 7px;
	margin-right: 47px;
	text-decoration: none;
	color: black;
}

.page-menu__block-right-text:hover {
	color: #E51937;
}
}

@media (max-width: 375px) {

.header {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.header__logo {
	width: 120px;
	margin-right: 200px;
}

.header__img {
	width: 20px;
}

.menu__bar {
	display: none;
}

.page-header__title {
	margin: 0 auto;
	text-align: center;
	font-size: 50px;
	margin-bottom: -3px;
	font-weight: bold;
}

.page-header__subtitle {
	text-align: center;
	font: 10px bold;
	font-weight: 500;
	align-items: top;
	margin: 0 auto;
	font-weight: bold;
	margin-bottom: 59px;
	font-family: Montserrat;
}

.page-header {
	max-width: 375px;
	height: 219px;
	background-image: url(./img/Tesla-Wordmark-Redd.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 110%;
	margin-right: 0 auto;
	margin-bottom: 96px;
}

 .page-header__img {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.page-menu {
	width: 284px;
	height: 53px;
	margin: 0 auto;

}

.page-menu__block {
	width: 284px;
	height: 53px;
	position: relative;
	margin-right: 105px;
	display: flex;
	align-items: center;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 43px;

}

.page-menu__logo {
	position: absolute;
	left: 2px;
	width: 35px;
}

.page-menu__logo_ellipse {
	position: absolute;
	left: 9px;
	bottom: 12px;
	width: 20px;
	
}

.page-menu__logo_pointer {
	position: absolute;
	left: 17px;
	bottom: 17px;
	width: 15px;
}

.page-menu__text_big-left {
	font-size:27px;
	font-weight: 600;
	position: absolute;
	top: 5px;
	left: 50px;
}

.page-menu__text_middle-left {
	font-size: 15px;
	font-weight: 600;
	position: absolute;
	left: 100px;
	top: 15px;
}

.page-menu__text_small-left {
	position: absolute;
	bottom: 3px;
	left: 50px;
	font-size: 10px;
}

.page-menu__logo-stroke {
	position: absolute;
	right: 82px;
	bottom: 5px;
	width: 25px;
}

.page-menu__logo-stroke-white {
	position: absolute;
	right: 82px;
	bottom: 5px;
	width: 25px;
}

.page-menu__text_big-right {
	font-size: 27px;
	font-weight: 600;
	position: absolute;
	top: 5px;
	right: 30px;
}

.page-menu__text_middle-right {
	font-size: 15px;
	font-weight: 600;
	position: absolute;
	right: 5px;
	top: 15px;
}

.page-menu__text_small-right {
	position: absolute;
	bottom: 3px;
	right: 20px;
	font-size: 10px;
}

.page-menu__block-right {
	height: 40px;
	display: flex;
	align-items: center;
	position: relative;
	margin-bottom: 48px;
}

.page-menu__vector-block-right {
	position: absolute;
	left: 3px;
	bottom: 13px;
}

.page-menu__point-block-right {
	position: absolute;
	left: 9px;
	top: 15px;
}

.page-menu__logo-block-right {
	margin-right: 8px;
}
.page-menu__block-right-text {
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	color: #E51937;
	margin-right: 24px;
	font-family: Montserrat;
}

.page-menu__block-right-text:hover {
	font-size: 13px;
	font-weight: bold;
	text-decoration: underline;
	color: #E51937;
	margin-right: 24px;
	font-family: Montserrat;
}

.page-menu__btn {
	text-align: center;
	height: 40px;
	width: 140px;
	font-size: 13px;
	color: white;
	font-weight: bold;
	background-color: #E51937;
	border: none;
	font-family: Montserrat;
}

.page-menu__btn:hover {
	text-align: center;
	height: 42px;
	width: 141px;
	font-size: 13px;
	color: blue;
	font-weight: bold;
	background-color: #E51937;
	border: none;
	font-family: Montserrat;
	transition: ease-out 1s;
}

.page-bottom__arrow {
	margin-bottom: 100px;
	margin-top:127px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}


}

 